<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta property="og:image" content="{{ url_for('static', filename='img/preview.jpg', _external=True) }}" />
		<title>License Mate | Database</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
	</head>
	<body>
	<h1>License Mate Database</h1>
	{% for table in tables %}
		{{ table|safe }}
	{% endfor %}
	</body>
</html>